/* 네온 효과 */
@keyframes neon {
    0%,
    100% {
        /* text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914; */
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128,
         .5vw .5vw .1vw #806914;
        color: #FED128;
    }

    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, 
        .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

@keyframes flux {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE,
         .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, 
        .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

/* 용량을 줄이기 위해 웹폰트사용 */
@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}


@keyframes bounce{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(50%);
    }
}



/* --------------body (bg color)-------------- */

body {
    background-color: #000000;
    color: white;

}

/* --------------header-------------- */
header {
    padding: 2em;

    color: white;
    font-family: neon1;
    position: relative;
    text-align: center;

    /* 웹폰트 */
    font-family: 'DNFBitBitv2';

    margin-bottom: 1em;
}



#logo {
    font-size: 3em;
    padding: 2vw;
    
    display: inline-block;

    white-space : nowrap;
    border-radius: 0.5em;
    box-shadow: 0 0 7px #fff,
    0 0 10px rgb(207, 51, 147);

    margin-bottom: 0.5em;
}

#logo> span:nth-child(1) {
    color: #FB4264;
    text-shadow: 0.1em 0.1em 0.1em #F40A35;
    animation: neon 2s ease infinite;
}

#logo> span:nth-child(3) {
    color: #426DFB;
    text-shadow: 0.1em 0.1em 0.1em #426DFB;
    animation: flux 2s linear infinite;
}


#header > p {
    animation: bounce 4s infinite linear; /* 4초에 걸쳐 반복하도록 수정 */
}

/* --------------content-------------- */
#content {
    margin-top: 5em;
}

/* ul */
#gameList {
    display: flex;
    justify-content: center;
    font-family: 'DNFBitBitv2';



}


/* li */
.game {
    color: white;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 7px #fff, 0 0 10px rgb(255, 255, 255);

    position: relative;

}

.game:nth-child(1) {
    margin-right: 10vw;
} 


.gameImg {
    width: 20vw;
    height: 45vh;
}

.gameImg > img {
    width: 100%;
    min-height: 85%;
}



.gameName {
    font-size: 1.5em;
    margin-top: 0.5em;
    text-align: center;
}



/* pointer */
#pointer {
    font-size: 0.8em;
    position: absolute;

    top: -2%;
    left: 50%;
    transform: translate(-50%, -2%);

}


   
